<!DOCTYPE html>
<html ng-app="dikyApp">
<head>
	<meta charset="utf-8">
	<!--Подключение фреймворков-->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/angular.js"></script>
	<!--Подключение файлов приложения-->
	<script src="js/app.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<title>Do I know you</title>
</head>
<body ng-controller="mainCtrl">
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
    			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
      			<a class="navbar-brand" href="https://dimakovalevskyi.github.io/Do-I-know-you/">Do I know you?</a>
    		</div>
			<div class="collapse navbar-collapse">
      			<ul class="nav navbar-nav">
        			<li><a href="https://github.com/dimakovalevskyi">Мой GitHub</a></li>
        			<li><a href="https://github.com/dimakovalevskyi/Do-I-know-you">Репозиторий с этим проектом на GitHub</a></li>
        			<li><a href="about.html">Об этом проекте</a></li>
        		<ul/>
    		</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-xs-6">
			<p>Введите ссылку на первого пользователя</p>
				<div class="input-group">
  					<span class="input-group-addon">vk.com/</span>
  					<input type="text" class="form-control" 
  					placeholder="username" ng-model="users[0].id" 
  					ng-change="userUpdate(0)"
  					ng-class="users[0].valid ? 'valid-input' : 'invalid-input'">
				</div>
				<img class="img-thumbnail user-photo" src="{{users[0].photoUrl}}" ng-if="users[0].valid">
  				<p class="lead text-center" ng-if="users[0].valid">
  					<a href="{{'http://vk.com/'+users[0].id}}" ng-bind="users[0].name"></a>
  				</p>
			</div>
			<div class="col-xs-6">
			<p>Введите ссылку на второго пользователя</p>
				<div class="input-group">
  					<span class="input-group-addon">vk.com/</span>
  					<input type="text" class="form-control" 
  					placeholder="username" ng-model="users[1].id"
  					ng-change="userUpdate(1)" 
  					ng-class="users[1].valid ? 'valid-input' : 'invalid-input'">
				</div>	
				<img class="img-thumbnail user-photo" src="{{users[1].photoUrl}}" ng-if="users[1].valid">
  				<p class="lead text-center" ng-if="users[1].valid">
  					<a href="{{'http://vk.com/'+users[1].id}}" ng-bind="users[1].name"></a>
  				</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4 col-xs-offset-4">
				<button class="btn btn-default btn-go" ng-disabled="!(users[1].valid&&users[0].valid)">Поехали!</button>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="container">
			<p class="text-muted footer-text">Dima Kovalevskyi, 2016</p>
		</div>
	</div>

	<!--Подключение фреймворков-->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>	
	<script src="js/bootstrap.min.js"></script>
</body>
</html>