<table class="table chain-container">
	<tr class="hidden-xs show-sm">
		<td ng-repeat="user in chain">
			<img class="img-thumbnail user-photo-small" src="{{user.photo_100}}"/>
			<p class="text-center">
				<a class="user-link" href="{{'http://vk.com/id'+user.id}}" ng-bind="user.first_name + ' ' + user.last_name" ></a>
			</p>
		</td>
	</tr>
	<tr class="hidden-sm show-xs hidden-md hidden-lg" ng-repeat="user in chain">
		<td class="no-border">
			<img class="img-thumbnail user-photo-small inline-block" src="{{user.photo_100}}"/>
			<a class="user-link inline-block" href="{{'http://vk.com/id'+user.id}}" ng-bind="user.first_name + ' ' + user.last_name" ></a>
		</td>
	</tr>
</table>