<div class="container">
<div ng-controller="homeCtrl">
<h1 class="text-center main-label">Do I know you?</h1>
	<div class="row">
		<div class="container light">
			<div class="row" big-profiles data-source="users">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="container dark">
			<div class="row">
				<div class="col-sm-6">
					<p class="input-label" ng-class="users[0].valid ? 'valid-input-label' : 'invalid-input-label'">
						First user`s id:
					</p>
					<div class="input-group">
  						<span class="input-group-addon"
  						ng-class="users[0].valid ? 'valid-input' : 'invalid-input'"
  						>vk.com/</span>
  						<input type="text" class="user-input" 
  						placeholder="username or userid" ng-model="users[0].id" 
  						ng-change="userUpdate(0)"
						ng-class="users[0].valid ? 'valid-input' : 'invalid-input'"
  						ng-disabled="inProgress"/>
					</div>
				</div>
				<div class="col-sm-6">
					<p class="input-label" ng-class="users[1].valid ? 'valid-input-label' : 'invalid-input-label'">
						Second user`s id:
					</p>
					<div class="input-group">
  						<span class="input-group-addon"
  						ng-class="users[1].valid ? 'valid-input' : 'invalid-input'"
  						>vk.com/</span>
  						<input type="text" class="user-input" 
  						placeholder="username or userid" ng-model="users[1].id"
  						ng-change="userUpdate(1)" 
  						ng-class="users[1].valid ? 'valid-input' : 'invalid-input'"
  						ng-disabled="inProgress"/>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="progress" ng-show="inProgress" ng-cloak>
  						<div class="indeterminate"></div>
					</div>
				<div class="col-sm-2 col-sm-offset-5">
					<button class="btn go" ng-disabled="!(users[1].valid&&users[0].valid)"  ng-click="letsFind()" ng-hide="inProgress">
						<i class="fa fa-search" aria-hidden="true"></i>  Search
					</button>
				</div>
			</div>

			<div class="row" ng-if="showChain"  ng-cloak>
				<p class="lead text-center">
  					{{(chain.length>2) ? 
  					"People know each other through " + (chain.length-2) + ((chain.length-2==1)?"friend:":" friends:") : "Users are already friends:"}}
	  			</p>
			</div>

			<div class="row" ng-if="inProgress"  ng-cloak>
				<p class="lead text-center">
  					{{"User id, is being checked now: " + currentUser}}
  				</p>
			</div>

			<div class="row" ng-if="showChain"  ng-cloak>
				<table class="table chain-container">
					<tr class="hidden-xs">
						<td ng-repeat="user in chainData">
							<img class="img-thumbnail user-photo-small" src="{{user.photo_100}}"/>
  							<p class="text-center">
  								<a class="user-link" href="{{'http://vk.com/id'+user.id}}" ng-bind="user.first_name + ' ' + user.last_name" ></a>
  							</p>
						</td>
					</tr>
					<tr class="hidden-sm" ng-repeat="user in chainData">
						<td class="no-border">
							<img class="img-thumbnail user-photo-small inline-block" src="{{user.photo_100}}"/>
  							<a class="user-link inline-block" href="{{'http://vk.com/id'+user.id}}" ng-bind="user.first_name + ' ' + user.last_name" ></a>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
</div>
